01_Raw_data/AADR_eigenstrat
01_Raw_data/AADR_plink/AADR.hh
01_Raw_data/AADR_plink/AADR.log
01_Raw_data/AADR_plink/AADR.nosex
01_Raw_data/AADR_plink/Ancient_samples.txt
01_Raw_data/AADR_plink/Ancientmales_only_AADR.bed
01_Raw_data/AADR_plink/Ancientmales_only_AADR.bim
01_Raw_data/AADR_plink/Ancientmales_only_AADR.fam
01_Raw_data/AADR_plink/Ancientmales_only_AADR.log
01_Raw_data/AADR_plink/Ancientmales_relv_AADR.bed
01_Raw_data/AADR_plink/Ancientmales_relv_AADR.bim
01_Raw_data/AADR_plink/Ancientmales_relv_AADR.fam
01_Raw_data/AADR_plink/Ancientmales_relv_AADR.log
01_Raw_data/AADR_plink/AncMalesRelv_flat.hh
01_Raw_data/AADR_plink/AncMalesRelv_flat.log
01_Raw_data/AADR_plink/AncMalesRelv_flat.map
01_Raw_data/AADR_plink/AncMalesRelv_flat.ped
01_Raw_data/AADR_plink/AncMalesRelvLtr.hh
01_Raw_data/AADR_plink/AncMalesRelvLtr.log
01_Raw_data/AADR_plink/Modern_samples.txt
01_Raw_data/AADR_plink/Readme(1).txt
01_Raw_data/AADR_plink/v54.1_1240K_public.bed
01_Raw_data/AADR_plink/v54.1_1240K_public.bim
01_Raw_data/AADR_plink/v54.1_1240K_public.fam
03_tmpfiles
scripts/__pycache__
check133snp.py